@model IEnumerable<Category>

<div class="my-4">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                @item.CategoryName
            </li>
        }
    </ul>
</div>