@model StoreApp.Models.Product 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>@Model.ProductName</h3>
    <h3>@Model.Price</h3>
    <p>
        <a href="/Product">Go back to Product List</a>
    </p>
</body>
</html>
