@model Product

@section Header{
    <div>
        Header for only get
    </div>
}

<div class="btn btn-group">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Index"><i
            class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Go back
        to Product List</a>
    <a class="btn btn-outline" asp-controller="Home" asp-action="Index">Home</a>
</div>

<h3>@Model.ProductName</h3>
<h3>@Model.Price</h3>
